.contenedor {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto 50px;
    
}

#izq {
    background-color: blue;
}

#der {background-color: blue;
    order: 3;
}

img {
    width:200px;}